# Environment variables
.env

# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt

# Virtual environment
.venv/
venv/
env/

# IDE and editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Testing and coverage
.coverage
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Build and distribution
build/
dist/
*.egg-info/
*.egg

# Database
*.sqlite3

# Other
*.swp
*~